<!DOCTYPE html>
<html ng-app="app">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div ng-controller="Child1Controller">
        {{data}}
        <input type="text" ng-model='data'>
    </div>
    <div ng-controller="Child2Controller">
        {{data}}
        <input type="text" ng-model='data'>
    </div>
    <script>
        (function (){
            var app = angular.module('app',[]);

            app.controller('Child1Controller',['$rootScope',function($rootScope){
                $rootScope.data = "Child1";
                
            }]);

            app.controller('Child2Controller',['$rootScope',function($rootScope){
                $rootScope.data = "Child2";

            }]);
        })()
    </script>
</body>
</html>