<!DOCTYPE html>
<html ng-app="app">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div ng-controller="Child1Controller">
        this is {{obj.data}} <br>
        Child1:
        <input type="text" ng-model='obj.data'>
    </div>
    <div ng-controller="Child2Controller">
        this is {{obj.data}} <br>
        Child2:
        <input type="text" ng-model='obj.data'>
    </div>
    <script>
        (function () {
            var app = angular.module('app', []);

            app.service('Data',['$rootScope',function($rootScope){
                $rootScope.obj = {};
                $rootScope.obj.data = "Root";
            }])

            app.controller('Child1Controller', function (Data) {
                

            });

            app.controller('Child2Controller',function (Data) {


            });
        })()
    </script>
</body>

</html>