<!DOCTYPE html>
<html ng-app="app">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div ng-controller="ParentController">
        this is {{data}}
        <br>
        Parent：
        <input type="text" ng-model="data">
        <hr>
        <div ng-controller="ChildController">
            this is {{data}}
            <br>
            Child：
            <input type="text" ng-model="data">
        </div>
    </div>
    <script>
        (function (){
            var app = angular.module('app',[]);

            app.controller('ParentController',['$scope',function($scope){
                $scope.data = "parent";
            }]);

            app.controller('ChildController',['$scope',function($scope){
                // $scope.data = "child";
            }]);
        })()
    </script>
</body>
</html>